@page
@model Shop.Pages.PagePressEmailModel
@{
}
<!DOCTYPE html>
<!--
    ustora by freshdesignweb.com
    Twitter: https://twitter.com/freshdesignweb
    URL: https://www.freshdesignweb.com/ustora/
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart Page - Ustora Demo</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
         .card {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        box-sizing: border-box;
      }
      .card-header {
        font-size: 1.25rem;
      }
      .card-body {
        padding: 20px 30px;
      }
      .form-outline {
        margin-bottom: 16px;
      }
      .form-control {
        padding: 12px 15px;
        font-size: 22px;
      }
      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 50px;
        font-weight: 500;
        padding: 12px 0;
      }
      .d-flex {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 20px;
      }
      .d-flex a {
        padding: 8px 15px;
        border: 2px solid #007bff;
        border-radius: 30px;
        color: #007bff;
        font-weight: 500;
        text-align: center;
        width: 48%;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      .d-flex a:hover {
        background-color: #007bff;
        color: white;
        transform: scale(1.05);
      }
      .card-text {
        text-align: center;
        white-space: nowrap;
        margin: 0 auto;
        width: 100%;
        margin-left: -174px;
      }

    </style>
</head>
<body>
    @await Html.PartialAsync("_Header", Model.Categories)
    <div class="card text-center shadow-sm" style="width: 350px; border-radius: 10px; margin: 0 auto; padding-top: 30px;">
        <div class="card-header h5 text-white bg-primary rounded-top "></div>
        <div class="card-body px-4 py-3">
            <p class="card-text ">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form method="post" asp-page-handler="SendMail">
                <div class="form-outline mb-3">
                    <input type="email"
                           name="EmailAddress"
                           id="typeEmail"
                           class="form-control"
                           placeholder="Enter your email"
                           required />
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <a href="/Index" class="text-decoration-none text-muted">Login</a>
                    <button type="submit" class="btn btn-primary">Send Mail</button> <!-- Đây là nút submit -->
                </div>
            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <!-- Bootstrap JS form CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/js/main.js"></script>
</body>
</html>